/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #f1e9e9;
}

.descricao::-webkit-scrollbar-track {
    border-radius: 10px;
}

.descricao::-webkit-scrollbar-thumb {
    background-color: #582965;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #291ce0;
    border: 3px solid #ffffff;
}

